
:root {
  --main_bg: #f5f7fa;
  --white_bg: #ffffff;
  --primary_color: #1a16f3;
  --active-icon: #396aff;
  --secondary-color: #fcaa0b;
  --sidebar-txt: #b1b1b1;
  --light_green: #dcfaf8;
  --light_blue: #e7edff;
  --border-color:#E6EFF5;
  --light_yellow: #fff5d9;
  --light_bink: #ffe0eb;
  --status_error: #fe5c73;
  --status_success: #16dbaa;
  --chart_debit: #fcaa0b;
  --card-icon: #343c6a;
  --bink: #ff82ac;
  --aqua: #16dbcc;
  --txt-light: #718ebf;
  --txt-dark: #333b69;

}

