
// Font
$main-font: 'Inter', sans-serif;

// Font Sizes
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-lg: 16px;
$font-size-xl: 20px;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Border Radius
$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 20px;

// Spacing
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 24px;
