<div class="container">
  <div class="my-cards">
<h3>My Cards</h3>
  <app-credit-card></app-credit-card>
</div>
  <div class="recent-transaction"> <h3> Recent Transaction</h3>
  <app-recent-transaction></app-recent-transaction>
</div>
  <div class="weekly-activity">
    <h3>Weekly Activity</h3>
  </div>
  <div class="expense-statistics">
    <h3>Expense Statistics</h3>
  </div>
  <div class="quick-transfer">
    <h3>Quick Transfer</h3>
  </div>
  <div class="balance-history">
    <h3>Balance History</h3>
  </div>
</div>
