
.dashboard-wrapper {
  display: flex;
  height: 100vh;
  background-color: var(--main_bg);

}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;

}
.page-container {
  padding: 24px;
  flex: 1;
  overflow-y: auto;
}
// @media (max-width: 767px) {
//   app-sidebar {
//     display: none;
//   }
// }
// @media (max-width: 1024px) {
//   app-sidebar {
//     display: none;
//   }
// }
